
/*清除浮动*/
.clearfix::before,
.clearfix::after{
    content: '';
    display: table;
}
.clearfix::after{
    clear: both;
}



/*bootstrap扩展*/
.navbar-me {
    background-color: #7f315a;
    border-color: #7f315a;
}

.navbar-me .navbar-brand {
    color: #f5f5f5;
}

.navbar-me .navbar-brand:hover{
    color: #c4b2b2;
    background-color: transparent;
}
.navbar-me .navbar-brand:focus {
    color: #f5f5f5;
    background-color: transparent;
}

.navbar-me .navbar-text {
    color: #777;
}

.navbar-me .navbar-nav > li > a {
    color: #f5f5f5;
}

.navbar-me .navbar-nav > li > a:hover{
    color: #c4b2b2;
    background-color: transparent;
}
.navbar-me .navbar-nav > li > a:focus {
    color: #f5f5f5;
    background-color: transparent;
}

.navbar-me .navbar-nav > .active > a,
.navbar-me .navbar-nav > .active > a:hover,
.navbar-me .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #e7e7e7;
}

.navbar-me .navbar-nav > .disabled > a,
.navbar-me .navbar-nav > .disabled > a:hover,
.navbar-me .navbar-nav > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
}

.navbar-me .navbar-toggle {
    border-color: #7f315a;
}

.navbar-me .navbar-toggle:hover,
.navbar-me .navbar-toggle:focus {
    background-color: #7f315a;
}

.navbar-me .navbar-toggle .icon-bar {
    background-color: #f5f5f5;
}

.navbar-me .navbar-collapse,
.navbar-me .navbar-form {
    border-color: #e7e7e7;
}

.navbar-me .navbar-nav > .open > a,
.navbar-me .navbar-nav > .open > a:hover,
.navbar-me .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #e7e7e7;
}

@media (max-width: 767px) {
    .navbar-me .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }

    .navbar-me .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-me .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
        background-color: transparent;
    }

    .navbar-me .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-me .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-me .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #555;
        background-color: #e7e7e7;
    }

    .navbar-me .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-me .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-me .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #ccc;
        background-color: transparent;
    }
}

.navbar-me .navbar-link {
    color: #777;
}

.navbar-me .navbar-link:hover {
    color: #333;
}

.navbar-me .btn-link {
    color: #777;
}

.navbar-me .btn-link:hover,
.navbar-me .btn-link:focus {
    color: #333;
}

.navbar-me .btn-link[disabled]:hover,
fieldset[disabled] .navbar-me .btn-link:hover,
.navbar-me .btn-link[disabled]:focus,
fieldset[disabled] .navbar-me .btn-link:focus {
    color: #ccc;
}

/*公共部分*/
.section h2{
    text-align: center;
    font-size: 30px;
    line-height: 30px;
    color: #2c3e50;
    padding: 150px 0 0;
    letter-spacing: 2px;
 }
.section hr{
    height: 4px;
    width: 0px;
    text-align: center;
    position: relative;
    background: #E87E04;
    margin: 0 auto  80px;
    border: 0;
    transition: all 0.5s 0.2s;
}
.section.active hr{
    width: 70px;
}
/*正文布局*/
.section{
    width: 100%;
    height: 100vh;
    position: relative;
    padding-bottom: 20px;
}
.section{
    min-height: 700px;
}
#section1{
    color: #2c3e50;
    position: relative;
    /*background-img: url(../img/intro-bg.jpg);*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}
#section1 h1{
    font-family: cursive,'Lato', sans-serif;
    font-size: 70px;
    font-weight: 400;
    margin: 50px 0 30px;

}
.bg-img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
}
.bg-img li,.bg-img li.show{
    webkit-animation: fadescale 5s forwards;
    animation: fadescale 5s forwards;
}
.bg-img li{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: none;
    opacity: 0;
}
@keyframes fadescale{
    0%{
        opacity: 1;
        transform: scale(1);
    }

    50%{
        opacity: 1;
        transform: scale(1.1);
    }

    100%{
        opacity: 0.5;
        transform: scale(1);
    }
}
@-webkit-keyframes fadescale{
    0%{
        opacity: 1;
        -webkit-transform: scale(1);
    }
    50%{
        opacity: 1;
        -webkit-transform: scale(1.1);
    }
    100%{
        opacity: 0.5;
        -webkit-transform: scale(1);
    }
}

.bg-img li{
   background-size: cover; 
}
.bg-img li:nth-child(1){
    background: url(../img/bg1.jpg) no-repeat center ;
}
.bg-img li:nth-child(2){
    background: url(../img/bg2.jpg) no-repeat center ;
}
.bg-img li:nth-child(3){
    background: url(../img/bg3.jpg) no-repeat center ;
}
.bg-img li:nth-child(4){
    background: url(../img/bg4.jpg) no-repeat center ;
}
#section1 h3{
    letter-spacing: 3px;
    /*color: #96a3b2;*/
    font-size: 30px;
    margin: 40px 0;
}
.myIntro{
    padding: 35vh 0 0 ;
    position: absolute;
    width:100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    letter-spacing: 2px;
    transition: all 0.35s;
    background: rgba(256,256,256,0.5);
}
#section1  h1{
    margin-top:0;
}
#section1 div.myIntro a > span{
    display: inline-block;
    width:150px;
    height:50px;
    line-height: 48px;
    font-size: 16px;
    /*color: #96a3b2;*/
    border:  1px solid ;
    border-radius: 5px;
    cursor: pointer;
    margin:  5px;
    background: rgba(256,256,256,0.8);
}
#section1 div > span:hover, #section1 div > a > span.active{
    background: #7f315a;
    color: #fff;
}
.fades, .fade{
    transform: translateY(2em);
    -webkit-transform: translateY(2em);
    opacity:0;
}
.section.active .fadesin1{
    transform: translateY(0);
    -webkit-transform: translateY(0);
    opacity: 1;
    transition: all 1s 0s;
}
.section.active .fadesin2{
    transform: translateY(0);
    -webkit-transform: translateY(0);
    opacity: 1;
    transition: all 1s 0.5s;
}
.section.active .fadesin3{
    transform: translateY(0);
    -webkit-transform: translateY(0);
    opacity: 1;
    transition: all 1s 1s;
}
.section.active .fadesin{
    transform: translateY(0);
    -webkit-transform: translateY(0);
    opacity: 1;
    transition: all 1s 0.2s;
}
#section1 .next-page {
    display: block;
    width: 48px;
    height: 48px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    cursor: pointer;
}
#section1 .next-page img{
    display: block;
}

/*导航条*/
#nav-page {
    width: 100%;
    height: 52px;
    margin: 0;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1000;
}

nav.navbar {
    height: 100%;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin: 0;
}

#navbar-list .navbar-nav {
    margin: 0 -15px;
}
#navbar-list ul{
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
#navbar-list li {
    background: #7f315a;
    /*margin-top:-.5px;*/
    border-top: 1px solid #612020;
}
#navbar-list li:nth-of-type(1){
    border:none;
}

/*个人简介*/
#intro-page {
    line-height: 1.3;
}

.intro-icon {
    text-align: center;
    margin-bottom: 20px;
}

.intro-icon .head-portrait {
    max-width: 200px;
    width: 20%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.describe{
    line-height: 1.6;
}
.describe .infor ul {
    margin-bottom: 20px;
}
.describe .infor ul li{
    
}
.describe .infor ul li span,
.describe .infor ul a:focus{
    text-decoration: none;
}
.describe span{
    display: inline-block;
    height: 32px;
    line-height: 45px;
}
.describe span img{
    width: 100%;
    height: 100%;
}

/*专业技能*/
#section3{
    height: auto;
    background: url("../img/services-bg.jpg") no-repeat center;
    background-attachment: fixed;
    color: #787978;
}
/*专业技能*/
#skills-page {
    background: #951a97;
    padding-top: 60px;
    padding-bottom: 60px;
}

#skills-page .skills-title h2 {
    text-align: center;
    letter-spacing: 8px;
}

#skills-page .skills-wrap {
    margin-top: 60px;
}

.skills-wrap .skills-category ul {
    border: 2px solid #9af394;
    text-align: center;
    margin-bottom: 40px;
    font-size: 20px;
}

.skills-wrap .skills-category ul li {
    z-index: 1;
    line-height: 30px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.skills-wrap .skills-category ul li::before{
    z-index: -1;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .5s linear;
    -moz-transition: all .5s linear;
    -ms-transition: all .5s linear;
    -o-transition: all .5s linear;
    transition: all .5s linear;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 30px;
    /*background: #4c1d36;*/
    border: 0 solid;
    border-color: transparent #9af394 transparent transparent;
}
.skills-wrap .skills-category ul li:hover{
    color: #951a97
}
.skills-wrap .skills-category ul li:hover::before {
    border-right-width: 500px;
    /*color: #951a97;*/
}
.skills-wrap .skills-category ul li:nth-of-type(1) {
    background: #9af394;
    color: #951a97;
}
.skills-wrap .skills-level{
    
}
.skills-level .skills-item-name{
    margin-bottom: 20px;
}
.skills-level .skills-item-name h4{
    border-left: 6px solid transparent;
    padding-left:12px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -ms-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;
}

.skills-level .skills-item-name{
    position: relative;
    top: 0;
    left: 0;
}

.skills-level .skills-item-name:nth-of-type(1) h4{
    width: 0%;
    background: #a2efee;
    border-color: #339795;
}
.skills-level .skills-item-name:nth-of-type(2) h4{
    width: 0%;
    background: #a2efee;
    border-color: #339795;
}
.skills-level .skills-item-name:nth-of-type(3) h4{
    width: 0%;
    background: #eaf6d0;
    border-color: #96b552;
}
.skills-level .skills-item-name:nth-of-type(4) h4{
    width: 0%;
    background: #eaf6d0;
    border-color: #96b552;
}
.skills-level .skills-item-name:nth-of-type(5) h4{
    width: 0%;
    background: #9af394;
    border-color: #2ac020;
}
.skills-level .skills-item-name:nth-of-type(6) h4{
    width: 0%;
    background: #9af394;
    border-color: #2ac020;
}
.skills-level .skills-item-name:nth-of-type(7) h4{
    width: 0%;
    background: #4fc08d;
    border-color: #0F92AE;
}
.skills-description{
    position: absolute;
    top: 5px;
    left: 20%;
    display: none;
    padding: 5px 20px;
    color: #333;
    background: rgba(255,255,255,.8);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 14px;
    z-index: 1000;
}
.skills-description li{
    list-style: circle;
    line-height: 1.5;
}

/*工作经验*/
#section4{
    
}
#section4 .work-list{
   border-left: 3px solid #787978;
    padding-bottom: 20px;
}
.work-list .work-list-point{
    padding:20px 0 0px 20px;
    position: relative;
    font-size:16px;
}
.work-list .work-list-point .work-list-point-ico{
    display: block;
    width: 14px;
    height: 14px;
    background: #787978;;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    position: absolute;
    left:-8px;
    top:23px;
}
.work-list .work-list-company{
    padding-left:20px;
}
.work-list .work-list-company li{
    font-size: 16px;
    line-height: 1.8;
    list-style: disc inside;
}
.work-list h3 {
    color:#626e7c;
    font-weight: 600;
}
.work-list h4{
    color: #E87E04;
}

/*项目作品*/
#section5{
    height: auto;
    min-height: 100vh;
    background: #fcf8e3;
}
#section5 h4{
    color: #fff;
}
#section5.section hr{
    margin-bottom: 30px;
}
#section5.section .intros{
    margin-bottom: 60px;
}
#section5 .container>div{
    padding: 10px;
    transition: all 0.3s linear;
}
#section5 .container > div:hover{
    transition: all 0.3s linear;
    padding: 0;
}
#section5 .container > div .zp-cover{
    position: absolute;
    display: none;
    width: 100%;
    top: 50%;
    margin-top: -46px;
    left: 0;
}
#section5 .container > div .zp-cover h4{
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
}

#section5 .container > div .zp-cover p{
    color: #fff;
    font-size: 14px;
    text-align: center;
    margin: 10px 0;
    padding: 0 1em;
}
#section5 .container > div .zp-cover img{
    width: 25px;
    height: 25px;
}

#section5 .container > div:hover .zp-cover{
    display: block;
    padding:  0 2em;
}
#section5 .container > div:hover .imgbox img{
    -webkit-filter: brightness(0.3);
    filter: brightness(0.3);
}

#section5 .container>div .imgbox{
    width:100%;
    height: 0;
    padding-bottom: 100%;
    overflow: hidden;
    text-align: center;
}
#section5 .container .imgbox img{
    width: 100%;
    transition: all 0.3s ease;
}


/*联系我吧*/
#section6 {
    /*margin-top: -8px;*/
    padding:80px 0;
    line-height: 1.5;
    text-align: center;
    background: url("../img/achivements-bg.jpg") no-repeat center;
    background-attachment: fixed;
}


@media only screen and (min-width:1224px){
    #section6 .contact-me{
        font-size: 28px;
    }
}
@media only screen and (max-width:1224px){

    #section1 div.myIntro{

    }
    #section1 div.myIntro h1{
        font-size: 50px;

    }
    #section1 div.myIntro h3{
        font-size: 20px;
        margin: 20px 0;
    }
    .nav-ul.nav-xs-ul {
        display: none;
    }
    #section6 .contact-me{
        font-size: 28px;
    }
    #section6 .fades{
        width: 50%;
        margin: 0 auto;
    }
}
@media only screen and (max-width: 768px){
     #section1 div.myIntro h1{
         font-size: 40px;
     }
    /*我的作品hover改变*/
    #section5 .container > div .zp-cover{
        display: block;
    }
    #section5 .container>div .imgbox img{
        -webkit-filter: brightness(0.3);
        filter: brightness(0.3);
    }
    #section6 .contact-me{
        font-size: 22px;
    }
    #section6 .fades{
        width: 80%;
        margin: 0 auto;
    }
}
@media only screen and (max-width:767px){


    #section3,#section2,#section6,#section5{
        height: auto;
        min-height: 100vh;
    }
    #section6 .contact-me{
        font-size: 18px;
    }


}

@media only screen and (max-width:415px){

    #section1 div.myIntro h1{
        font-size: 28px;
    }
    #section1 div.myIntro h3{
        font-size: 16px;
    }
    #section1 div.myIntro > span{
        height: 35px;
        line-height: 33px;
        font-size: 14px;
        width: 200px;
    }
    #section3,#section2{
        height: 120vh;
    }
    .section h2{
        padding-top: 90px;

    }
    .section hr{
        margin-bottom: 20px;
    }
    .ptitle{
        margin: 1em 0 0.5em;
    }
    /*我的作品 字体改变*/
    #section5.section .intros{
        margin-bottom: 20px;
    }
    #section5 .container > div .zp-cover p{
        font-size: 12px;

    }
    #section5 .container.center{
        margin-top: 40px;
    }
    #section5 .container > div .zp-cover img{
        display: none;
    }
    #section6 .contact-me{
        font-size: 16px;
    }
    #section6 .fades{
        width: 100%;
        margin: 0 auto;
    }
}